{% set page_title = title %}
{% set active = "management.groups" %}

{% extends theme("management/management_layout.html") %}

{% block breadcrumb %}
<ol class="breadcrumb flaskbb-breadcrumb">
    <li><a href="{{ url_for('forum.index') }}">{% trans %}Forum{% endtrans %}</a></li>
    <li><a href="{{ url_for('management.overview') }}">{% trans %}Management{% endtrans %}</a></li>
    <li class="active">{% trans %}Manage Groups{% endtrans %}</li>
</ol>
{% endblock %}

{% block management_content %}
{% from theme("macros.html") import render_field, render_boolean_field, render_submit_field, navlink with context %}

<div class="col-md-3 settings-col">
    <div class="nav-sidebar">
        <ul class="nav">
            {{ navlink('management.groups', _("Manage Groups")) }}
            {{ navlink('management.add_group', _("Add Group")) }}
        </ul>
    </div>
</div>

<div class="col-md-9 settings-col with-left-border">
    <div class="panel settings-panel">
        <div class="panel-heading settings-head">
            <span class="fa fa-user-plus"></span> {{ title }}
        </div>
        <div class="panel-body settings-body">
            <div class="settings-content">
                <form class="form-horizontal settings-form" role="form" method="post">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        {{ form.hidden_tag() }}
                        {{ render_field(form.name) }}

                        {{ render_field(form.description, div_class="col-sm-10 editor", rows="4", placeholder="", **{'data-provide': 'markdown', 'class': 'flaskbb-editor'}) }}
                        {{ render_boolean_field(form.admin) }}
                        {{ render_boolean_field(form.super_mod) }}

                        {{ render_boolean_field(form.mod) }}
                        {{ render_boolean_field(form.banned) }}
                        {{ render_boolean_field(form.guest) }}

                        {{ render_boolean_field(form.mod_edituser) }}
                        {{ render_boolean_field(form.mod_banuser) }}

                        {{ render_boolean_field(form.editpost) }}
                        {{ render_boolean_field(form.deletepost) }}
                        {{ render_boolean_field(form.deletetopic) }}
                        {{ render_boolean_field(form.posttopic) }}
                        {{ render_boolean_field(form.postreply) }}
                        {{ render_boolean_field(form.makehidden) }}
                        {{ render_boolean_field(form.viewhidden) }}
                        {{ render_boolean_field(form.ignorekarma) }}

                        <div class="panel-group" id="serversAccordion" role="tablist" aria-multiselectable="true">
                          {% for server in servers %}
                            <div class="panel panel-default">
                              <div class="panel-heading" role="tab" id="heading-{{ server.id }}">
                                <h4 class="panel-title">
                                  <a role="button" data-toggle="collapse" data-parent="#serversAccordion" href="#collapse-{{ server.id }}" aria-expanded="{{ 'true' if loop.first else 'false' }}" aria-controls="collapse-{{ server.id }}">
                                    {{ server.name }}
                                  </a>
                                </h4>
                              </div>
                              <div id="collapse-{{ server.id }}" class="panel-collapse collapse{% if loop.first %} in{% endif %}" role="tabpanel" aria-labelledby="heading-{{ server.id }}">
                                <div class="panel-body">
                                  {% for perm_type in ['base', 'additional', 'management'] %}
                                    {% set input_id = server.id ~ '_' ~ perm_type %}
                                    <div class="checkbox">
                                      <label for="{{ input_id }}">
                                        <input type="checkbox" name="{{ input_id }}" id="{{ input_id }}"
                                          {% if user_permissions and user_permissions.get(input_id) %}checked{% endif %}>
                                        {{ perm_type.capitalize() }}
                                      </label>
                                    </div>
                                  {% endfor %}
                                </div>
                              </div>
                            </div>
                          {% endfor %}
                          <input type="hidden" name="server_permissions_json" id="server_permissions_json" />
                        </div>
                        {{ render_field(form.upload_size_limit) }}
                        {{ render_field(form.uploads_total_size_limit) }}
                        {{ render_submit_field(form.submit, div_class="form-group col-sm-5") }}
                    </div>

                    {% include theme('editor_help.html') %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
