
{%- macro render_forum_management(forum) -%}
<div class="row category-row hover">
        {% if forum.external %}
        <div class="col-md-5 col-sm-5 col-xs-8 forum-info">
            <div class="row">
                <!-- Icon -->
                <div class="col-md-1 col-sm-2 col-xs-2 forum-status">
                    <span class="fa fa-external-link forum-external"></span>
                </div>

                <div class="col-md-11 col-sm-10 col-xs-10">
                    <!-- Forum Name -->
                    <div class="forum-name">
                        <span class="forum-link">{% trans %}Link to{% endtrans %}:</span> <a href="{{ forum.url }}">{{ forum.title }}</a>
                    </div>

                    <!-- Forum Description -->
                    <div class="forum-description">
                        {{ forum.description|nonpost_markup }}
                    </div>
                </div>
            </div>
        </div> <!-- end forum-info -->

        <!-- Post Count -->
        <div class="col-md-2 col-sm-2 hidden-xs forum-posts">
            - -
        </div>

        <!-- Forum Actions -->
        <div class="col-md-5 col-sm-5 col-xs-4 forum-last-post">
            <div class="forum-actions pull-right">
                <a class="btn btn-sm btn-success" href="{{ url_for('management.edit_forum', forum_id = forum.id) }}">
                    <span class="fa fa-pencil"></span> {% trans %}Edit Link{% endtrans %}
                </a>

                <form class="inline-form" method="post" action="{{ url_for('management.delete_forum', forum_id=forum.id) }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <button class="btn btn-sm btn-danger" name="confirmDialog">
                        <span class="fa fa-trash"></span> {% trans %}Delete Link{% endtrans %}
                    </button>
                </form>
            </div>
        </div>
        {% else %}
        <div class="col-md-5 col-sm-5 col-xs-8 forum-info">
            <div class="row">
                <!-- Icon -->
                <div class="col-md-1 col-sm-2 col-xs-2 forum-status">
                    {% if forum.locked %}
                        <span class="fa fa-lock forum-locked"></span>
                    {% else %}
                        <span class="fa fa-comments-o forum-read"></span>
                    {% endif %}
                </div>

                <div class="col-md-11 col-sm-10 col-xs-10">
                    <!-- Forum Name -->
                    <div class="forum-name">
                        <a href="{{ forum.url }}">{{ forum.title }}</a>
                    </div>

                    <!-- Forum Description -->
                    <div class="forum-description" style="display:inline">
                        {{ forum.description|nonpost_markup }}
                    </div>

                    <!-- Forum Moderators -->
                    {% if forum.show_moderators %}
                    <div class="forum-moderators">
                        {% trans %}Moderators{% endtrans %}:
                        {% for moderator in forum.moderators %}
                        <a href="{{ moderator.url }}">{{ moderator.display_name }}</a>{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}

                </div>

            </div>
        </div> <!-- end forum-info -->

        <!-- Post Count -->
        <div class="col-md-2 col-sm-2 hidden-xs forum-topics">
            {{ forum.topic_count }} / {{ forum.post_count }}
        </div>

        <!-- Forum Actions -->
        <div class="col-md-7 col-sm-5 col-xs-4 forum-last-post">
            <div class="forum-actions pull-right">
                <a class="btn btn-sm btn-success" href="{{ url_for('management.add_forum', category_id=forum.category_id, parent_id=forum.id) }}">
                    <span class="fa fa-plus"></span> {% trans %}Add Subforum{% endtrans %}
                </a>
                {% if forum.parent_id %}
                    <a class="btn btn-sm btn-primary" href="{{ url_for('management.edit_forum', forum_id = forum.id) }}">
                        <span class="fa fa-pencil"></span> {% trans %}Edit Forum{% endtrans %}
                    </a>
                {% else %}
                    <a class="btn btn-sm btn-primary" href="{{ url_for('management.edit_forum', forum_id = forum.id) }}">
                        <span class="fa fa-pencil"></span> {% trans %}Edit Forum{% endtrans %}
                    </a>
                {% endif %}
                <form class="inline-form" method="post" action="{{ url_for('management.delete_forum', forum_id=forum.id) }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <button class="btn btn-sm btn-danger" name="confirmDialog">
                        <span class="fa fa-trash"></span> {% trans %}Delete Forum{% endtrans %}
                    </button>
                </form>
            </div>
        </div>
        <!-- Forum Subforums -->
        {% if forum.subforums|length %}
        <div class="col-md-12 col-sm-5 col-xs-4 forum-subforums" style="margin-left: 0.5em;">
            <details>
                <summary><b>Subforums</b></summary>
                <div style=" border-bottom: 1px solid #cad7e1;"></div>
                {% for subforum in forum.subforums %}
                    {{ render_forum_management(subforum) }}
                {% endfor %} {# endfor subforum in forum.subforums #}
            </details>
        </div>
        {% endif %} {# endif forum.subforums #}
</div> <!-- end category-content -->
{% endif %} {# endif forum.external #}
{% endmacro %}
