{% set page_title = title %}
{% set active = "management.users" %}

{% extends theme("management/management_layout.html") %}

{% block breadcrumb %}
<ol class="breadcrumb flaskbb-breadcrumb">
    <li><a href="{{ url_for('forum.index') }}">{% trans %}Forum{% endtrans %}</a></li>
    <li><a href="{{ url_for('management.overview') }}">{% trans %}Management{% endtrans %}</a></li>
    <li class="active">{% trans %}Manage Users{% endtrans %}</li>
</ol>
{% endblock %}

{% block management_content %}
{% from theme("macros.html") import horizontal_field, horizontal_select_field, navlink with context %}
{% from theme("forum/file_upload_macros.html") import file_upload_errors %}
<div class="col-md-3 settings-col">
    <div class="nav-sidebar">
        <ul class="nav">
            {{ navlink('management.users', _("Manage Users")) }}
            {{ navlink('management.banned_users', _('Banned Users')) }}

            {% if current_user|is_admin %}
                {{ navlink('management.add_user', _("Add User")) }}
            {% endif %}
        </ul>
    </div>
</div><!--/.col-md-3 -->

<div class="col-md-9 settings-col with-left-border">
    <div class="panel settings-panel">
        <div class="panel-heading settings-head">
            <span class="fa fa-user-plus"></span> {{ title }}
        </div>
        <div class="panel-body settings-body">
            <div class="settings-content">
                <form class="form-horizontal settings-form" role="form" method="post">
                    {{ form.hidden_tag() }}
                    {{ horizontal_field(form.username) }}
                    {{ horizontal_field(form.display_name) }}
                    {{ horizontal_field(form.email) }}
                    {{ horizontal_field(form.discord) }}
                    {{ horizontal_field(form.password) }}
                    {{ horizontal_select_field(form.birthday, surrounded_div="col-sm-4") }}
                    {{ horizontal_field(form.gender) }}
                    {{ horizontal_field(form.location) }}
                    {{ horizontal_field(form.website) }}
                    {% if form.avatar %}
                        <div class = "form-group row">
                            <div class = "col-md-5 control-label">
                                <div class="author-box">
                                    <div class="author-avatar hidden-xs"><img name="avatar" alt="avatar" width="150" max-height="150"></div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {{ horizontal_field(form.avatar) }}
                    <div class = "form-group row">
                        <div class = "col-sm-4 control-label" style="width: 56.5%">
                            <input id="fileupload" type="file" name="fileupload" style="display:inline-block"/>
                            <span class="btn btn-warning" id="upload-button" onclick="UploadAvatar('{{url_for('forum.upload_file')}}','{{ csrf_token() }}')">Upload</span>
                        </div>
                        <div class = "col-sm-5 control-label" style="padding-top: 7px; margin-bottom: 0; text-align: left;">
                                {{ file_upload_errors() }}
                        </div>
                    </div>
                    {{ horizontal_field(form.primary_group) }}
                    {{ horizontal_field(form.secondary_groups) }}
                    {{ horizontal_field(form.activated) }}
                    {{ horizontal_field(form.signature, div_class="col-sm-8 editor", rows="5", placeholder="", **{'data-provide': 'markdown', 'class': 'flaskbb-editor'}) }}
                    {{ horizontal_field(form.notes, div_class="col-sm-8 editor", rows="12", placeholder="", **{'data-provide': 'markdown', 'class': 'flaskbb-editor'}) }}

                    {{ horizontal_field(form.submit) }}

                    {% include theme('editor_help.html') %}
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    document.querySelector('img[name="avatar"]').src = document.querySelector('input[name="avatar"]').value
    document.querySelector('input[name="avatar"]').addEventListener('focusout', function(event){
        document.querySelector('img[name="avatar"]').src = document.querySelector('input[name="avatar"]').value
    });
</script>
{% endblock %}
