{% set page_title = forum.title %}
{% set active_forum_nav=True %}

{% extends theme("layout.html") %}
{% block content %}
{% from theme('macros.html') import render_pagination, topic_pages, render_subforums %}

<div class="forum-view">
    <ol class="breadcrumb flaskbb-breadcrumb">
        <li><a href="{{ url_for('forum.index') }}">{% trans %}Forum{% endtrans %}</a></li>
        {% if category %}
            <li><a href="{{ category.url }}">{{ category.title }}</a></li>
        {% endif %}
        {% for parent in parent_list %}
            <li><a href="{{ parent.url }}">{{ parent.title }}</a></li>
        {% endfor %}
        <li class="active">{{ forum.title }}</li>
    </ol>

    <h2 class="forum-title">{{ forum.title }}</h2>

    <div class="row controls-row">
        <div class="pull-left">
            {{ render_pagination(topics, forum.url) }}
        </div> <!-- end span pagination -->

        <div class="pull-right">
            <form class="inline-form" method="post" action="{{ url_for('forum.markread', forum_id=forum.id, slug=forum.slug) }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <button class="btn btn-default">
                    <span class="fa fa-check fa-fw"></span> {% trans %}Пометить как прочитанное{% endtrans %}
                </button>
            </form>

            {% if forum.locked %}
            <span class="btn btn-primary">
                <span class="fa fa-lock fa-fw"></span> {% trans %}Заблокированно{% endtrans %}
            </span>
            {% endif %}
            {% if current_user|post_topic(forum) %}
            <a href="{{ url_for('forum.new_topic', forum_id=forum.id, slug=forum.slug) }}" class="btn btn-primary">
                <span class="fa fa-pencil fa-fw"></span> {% trans %}Новый топик{% endtrans %}
            </a>
            {% endif %}
        </div>
    </div>
    {% if forums %}
    <div class="panel category-panel">
        <div class="panel-body category-body">
            <div class="category-meta">
                <div class="col-md-5 col-sm-5 col-xs-8 forum-name">{% trans %}Подфорум{% endtrans %}</div>
                <div class="col-md-2 col-sm-2 hidden-xs forum-stats">{% trans %}Топики{% endtrans %}</div>
                <div class="col-md-2 col-sm-2 hidden-xs forum-stats">{% trans %}Посты{% endtrans %}</div>
                <div class="col-md-3 col-sm-3 col-xs-4 forum-last-post">{% trans %}Последний пост{% endtrans %}</div>
            </div>
            {% for forum, forumsread in forums %}
            <div class="row category-row hover">

                {% if forum.external %}
                <div class="col-md-5 col-sm-5 col-xs-8 forum-info">
                    <div class="row">
                        <!-- Icon -->
                        <div class="col-md-1 col-sm-2 col-xs-2 forum-status">
                            <span class="fa fa-external-link fa-fw forum-external"></span>
                        </div>

                        <div class="col-md-11 col-sm-10 col-xs-10">
                            <!-- Forum Name -->
                            <div class="forum-name">
                                <span class="forum-link">{% trans %}Ссылка на{% endtrans %}:</span> <a href="{{ forum.url }}">{{ forum.title }}</a>
                            </div>

                            <!-- Forum Description -->
                            <div class="forum-description">
                                {{ forum.description|nonpost_markup }}
                            </div>
                        </div>
                    </div>
                </div> <!-- end forum-info -->

                <!-- Post Count -->
                <div class="col-md-2 col-sm-2 hidden-xs forum-posts">
                    -
                </div>

                <!-- Topic Count -->
                <div class="col-md-2 col-sm-2 hidden-xs forum-topics">
                    -
                </div>

                <!-- Last Post -->
                <div class="col-md-3 col-sm-3 col-xs-4 forum-last-post">
                    ---
                </div>
                {% else %}
                <div class="col-md-5 col-sm-5 col-xs-8 forum-info">
                    <div class="row">
                        <!-- Icon -->
                        <div class="col-md-1 col-sm-2 col-xs-2 forum-status">
                            {% if forum.locked %}
                                <span class="fa fa-lock fa-fw forum-locked"></span>
                            {% elif forum|forum_is_unread(forumsread, current_user) %}
                                <span class="fa fa-comments fa-fw forum-unread"></span>
                            {% else %}
                                <span class="fa fa-comments-o fa-fw forum-read"></span>
                            {% endif %}
                        </div>

                        <div class="col-md-11 col-sm-10 col-xs-10">
                            <!-- Forum Name -->
                            <div class="forum-name">
                                <a href="{{ forum.url }}">{{ forum.title }}</a>
                            </div>

                            <!-- Forum Subforums -->
                            {% if forum.get_forums() %}
                            <div class="forum-subforums">
                                <span>&#9679;</span>
                                {% for subforum, subforumsread in forum.get_forums() %}
                                    {% if not loop.last %}
                                        <a href="{{ subforum.url }}" title="{{ subforum.description }}"
                                            {% if subforum|forum_is_unread(subforumsread, current_user) %}style="font-weight: bold;"{% endif %}>
                                            {{ subforum.title }}
                                        </a>,
                                    {% else %}
                                        <a href="{{ subforum.url }}" title="{{ subforum.description }}"
                                            {% if subforum|forum_is_unread(subforumsread, current_user) %}style="font-weight: bold;"{% endif %}>
                                            {{ subforum.title }}
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {% endif %}

                            <!-- Forum Description -->
                            <div class="forum-description">
                                {{ forum.description|nonpost_markup }}
                            </div>

                            <!-- Forum Moderators -->
                            {% if forum.show_moderators %}
                            <div class="forum-moderators">
                                {% trans %}Moderators{% endtrans %}:
                                {% for moderator in forum.moderators %}
                                <a href="{{ url_for('user.profile', userid=moderator.id) }}">{{ moderator.display_name }}</a>{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div> <!-- end forum-info -->

                <!-- Post Count -->
                <div class="col-md-2 col-sm-2 hidden-xs forum-topics">
                {{ forum.topic_count }}
                </div>

                <!-- Topic Count -->
                <div class="col-md-2 col-sm-2 hidden-xs forum-posts">
                {{ forum.post_count }}
                </div>

                <!-- Last Post -->
                <div class="col-md-3 col-sm-3 col-xs-4 forum-last-post">
                    {% if forum.last_post_id %}
                    <div class="last-post-title">
                        <a href="{{ forum.last_post_url }}" title="{{ forum.last_post_title }}">
                            {{ forum.last_post_title|crop_title }}
                        </a>
                    </div>

                    <div class="last-post-time">
                        {{ forum.last_post_created|time_since }}
                    </div>

                    <div class="last-post-author">
                        {% trans %}by{% endtrans %}
                        {% if forum.last_post_user_id %}
                        <a href="{{ url_for('user.profile', userid=forum.last_post_user_id) }}">{{ forum.last_post_user_display_name }}</a>
                        {% else %}
                        {{ forum.last_post_user_display_name }}
                        {% endif %}
                    </div>

                    {% else %}
                    {% trans %}No posts.{% endtrans %}
                    {% endif %} {# endif forum.last_post_id #}
                </div>

            {% endif %} {# endif forum.external #}
            </div> <!-- end category-content -->

            {% endfor %}
        </div>
    </div>
    {% endif %}
    <br>
    <div class="panel forum-panel">
        <div class="panel-body forum-body">
            <div class="forum-meta">
                <div class="col-md-5 col-sm-5 col-xs-8 topic-name">{% trans %}Topic{% endtrans %}</div>
                <div class="col-md-2 col-sm-2 hidden-xs topic-stats">{% trans %}Posts{% endtrans %}</div>
                <div class="col-md-2 col-sm-2 hidden-xs topic-stats">{% trans %}Views{% endtrans %}</div>
                <div class="col-md-3 col-sm-3 col-xs-4 topic-last-post">{% trans %}Last Post{% endtrans %}</div>
            </div>
            {% for topic, last_post, topicread in topics.items %}
            <div class="row forum-row hover clearfix">

                <div class="col-md-5 col-sm-5 col-xs-8 topic-info">
                    <div class="row">
                        <div class="col-md-1 col-sm-2 col-xs-2 topic-status">
                        {% if topic.locked %}
                            <span class="fa fa-lock fa-fw topic-locked"></span>
                        {% elif topic.hidden %}
                            <span class="fa fa-user-secret"></span>
                        {% elif topic.important %}
                            {% if topic|topic_is_unread(topicread, current_user, forumsread) %}
                                <span class="fa fa-star fa-fw topic-starred-unread"></span>
                            {% else %}
                                <span class="fa fa-star-o fa-fw topic-starred-read"></span>
                            {% endif %}
                        {% else %}
                            {% if topic|topic_is_unread(topicread, current_user, forumsread) %}
                                <span class="fa fa-comment fa-fw topic-unread"></span>
                            {% else %}
                                <span class="fa fa-comment-o fa-fw topic-read"></span>
                            {% endif %}
                        {% endif %}
                        </div>
                        <div class="col-md-11 col-sm-10 col-xs-10">
                            <div class="topic-name">
                                <a href="{{ topic.first_unread(topicread, current_user, forumsread) }}">{{ topic.title }}</a>
                                <!-- Topic Pagination -->
                                <span class="topic-pages">{{ topic_pages(topic, flaskbb_config["POSTS_PER_PAGE"]) }}</span>
                            </div>

                            <div class="topic-author">
                                <span>
                                {% trans %}by{% endtrans %}
                                {% if topic.user_id %}
                                 <a href="{{ topic.user.url }}">{{ topic.user.display_name }}</a>
                                {%- else -%}
                                {{ topic.display_name }}
                                {%- endif -%}, {{ topic.date_created|format_date }}
                                </span>
                            </div>

                            {% if topic.hidden %}
                            <div class="topic-author">
                                {{ gettext("Hidden on %(when)s  by %(who)s", who=topic.hidden_by.display_name, when=format_date(topic.hidden_at)) }}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 hidden-xs topic-stats">
                    {{ topic.post_count }}
                </div>

                <div class="col-md-2 col-sm-2 hidden-xs topic-stats">
                    {{ topic.views }}
                </div>

                <div class="col-md-3 col-sm-3 col-xs-4 topic-last-post">
                    <a href="{{ last_post.url }}">{{ last_post.date_created|time_since }}</a><br />

                    <div class="topic-author">
                        {% trans %}by{% endtrans %}
                        {% if last_post.user_id %}
                        <a href="{{ last_post.user.url }}">{{ last_post.user.display_name }}</a>
                        {% else %}
                        {{ last_post.display_name }}
                        {% endif %}
                    </div>
                </div>

            </div>  <!-- end forum-row -->
            {% else %}
            <div class="row forum-row clearfix">
                <div class="col-md-12 col-sm-12 co-xs-12">
                    {% trans %}No Topics.{% endtrans %}
                </div>
            </div> <!-- end forum-row -->
            {% endfor %}
        </div>
    </div>

    {% if current_user|can_moderate(forum) %}
    <div class="row controls-row">
        <a class="btn btn-default" href="{{ url_for('forum.manage_forum', forum_id=forum.id, slug=forum.slug) }}">
            <span class="fa fa-tasks fa-fw"></span> {% trans %}Moderation Mode{% endtrans %}
        </a>
    </div>
    {% endif %}
</div>
{% endblock %}
