{% extends theme("user/profile_layout.html") %}

{% block profile_content %}
<div class="col-md-9 col-sm-9 col-xs-12 profile-content">


    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="overview">
            <div class="panel page-panel">
                <div class="panel-heading page-head">{% trans %}About{% endtrans %}</div>
                <div class="panel-body page-body">
                    <div class="col-md-12 col-sm-12 col-xs-12 profile-field">
                        <div>
                            <span class="profile-about-label">{% trans %}Group{% endtrans %}:</span>
                            {{ user.primary_group.name }}
                        </div>
                        <div>
                            <span class="profile-about-label">{% trans %}Joined{% endtrans %}:</span>
                            {{ user.date_joined|format_date }}
                        </div>
                        <div>
                            <span class="profile-about-label">{% trans %}Posts{% endtrans %}:</span>
                            {{ user.post_count }}
                        </div>
                        <div>
                            <span class="profile-about-label">{% trans %}Last seen{% endtrans %}:</span>
                            {% if user.lastseen %} {{ user.lastseen|time_since }} {% else %} {% trans %}Never seen{% endtrans %} {% endif %}
                        </div>
                        <div>
                            <span class="profile-about-label">{% trans %}Last post{% endtrans %}:</span>
                            {% if user.last_post %}
                                <a href="{{ user.last_post.url }}">{{ user.last_post.date_created|time_since }}</a>
                            {% else %}
                                {% trans %}Never{% endtrans %}
                            {% endif %}
                        </div>
                        {% if user.location %}
                            <div>
                                <span class="profile-about-label">{% trans %}Location{% endtrans %}:</span>
                                {{ user.location }}
                            </div>
                        {% endif %}
                        {% if user.birthday %}
                            <div>
                                <span class="profile-about-label">{% trans %}Birthday{% endtrans %}:</span>
                                {{ user.birthday|format_date }}
                            </div>
                        {% endif %}
                        {% if user.gender %}
                            <div>
                                <span class="profile-about-label">{% trans %}Gender{% endtrans %}:</span>
                                {{ user.gender }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="panel page-panel">
                <div class="panel-heading page-head">{% trans %}Contacts{% endtrans %}</div>
                <div class="panel-body page-body">
                    <div class="col-md-12 col-sm-12 col-xs-12 profile-field">
                        {% if user.discord %}
                            <div>
                                <span class="profile-about-label">{% trans %}Discord Id{% endtrans %}:</span>
                                <a href="{{ user.discord_url }}">{{ user.discord }}</a>
                            </div>
                        {% endif %}
                        {{ run_hook("flaskbb_tpl_profile_contacts", user=user) }}
                    </div>
                </div>
            </div>

            {% if user.signature %}
            <div class="panel page-panel">
                <div class="panel-heading page-head">{% trans %}Signature{% endtrans %}</div>
                <div class="panel-body page-body">
                    <div class="col-md-12 col-sm-12 col-xs-12 profile-field">
                        {{ user.signature|markup }}
                    </div>
                </div>
            </div>
            {% endif %}

            {% if user.notes %}
            <div class="panel page-panel">
                <div class="panel-heading page-head">{% trans %}User Notes{% endtrans %}</div>
                <div class="panel-body page-body">
                    <div class="col-md-12 col-sm-12 col-xs-12 profile-field">
                        {{ user.notes|markup }}
                    </div>
                </div>
            </div>
            {% else %}
            <div class="row">
                <div class="col-md-12 col-sm-12 co-xs-12">
                    <div class="alert-message alert-message-info" role="alert">
                        {% trans %}User has not added any notes.{% endtrans %}
                    </div>
                </div>
            </div>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}
