import attr
from typing import List, Dict


@attr.s(auto_attribs=True)
class ServerAdditionalLink:
    what: str
    text: str
    href: str


@attr.s(auto_attribs=True)
class ServerDescriptor:
    id: str
    name: str
    icon: str
    description: str
    links: List[ServerAdditionalLink]
    service_name: str
    port: int
    path: str
    branch_name: str
    dream_maker_binary: str
    dme_name: str
    base_permission: str
    additional_permission: str
    management_permission: str
    discord_full_access_titles: List[str]
    discord_base_access_titles: List[str]
    discord_role_to_group: Dict[str, int]
    configs_path: str
    configs_exclude: List[str]
    logs_path: str

servers_config = [
    ServerDescriptor(
        id="chaotic",
        name="Local Server",
        icon="/static/img/server_logos/chaotic.png",
        description="Настоящий ролевой сервер про чрезвычайные ситуации с упором в отыгрыш интересных и запоминающихся персонажей.",
        links=
        [
            ServerAdditionalLink("discord", "Discord", "https://discord.gg/5BRMMFg"),
            ServerAdditionalLink("github", "Github", "https://github.com/ChaoticOnyx/OnyxBay"),
            ServerAdditionalLink("wiki", "Wiki", "https://wiki.ss13.ru/index.php?title=Chaotic_Onyx"),
        ],
        service_name="onyx.service",
        port=2505,
        path="/home/OnyxBay",
        branch_name="release/chaotic",
        dream_maker_binary="DreamMaker",
        dme_name="baystation12.dme",
        base_permission="onyx_base",
        additional_permission="onyx_additional",
        management_permission="onyx_management",
        discord_full_access_titles=[
        ],
        discord_base_access_titles=[
        ],
        discord_role_to_group = {
        },
        configs_path="/home/OnyxBay/config/",
        configs_exclude=["dbconfig.txt", "dbconfig_docker.txt"],
        logs_path="/home/OnyxBay/data/logs")
]
