
{% extends theme("hub/server/index.html") %}

{% block hub_content %}
    {% from theme("macros.html") import render_field, render_submit_field %}

    <form method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label>Edit <i>{{ config_name }}</i>:</label>
            {{ form.content(class="form-control", rows=20) }}
        </div>
        <div class="form-group">
            {{ form.submit(class='btn btn-success') }}
        </div>
    </form>
{% endblock %}
