{% extends theme("layout.html") %}
{%- from theme("macros.html") import sidebar with context -%}
{% set active_hub_nav=True %}

{% block content %}
<div class="page-view">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel page-panel">
                <div class="panel-heading page-head">
                    {%- if server_status == "online" %}
                        <span class="label label-success">{% trans %}online{% endtrans %}</span>
                        {%- else %}
                        <span class="label label-default">{% trans %}offline{% endtrans %}</span>
                    {%- endif %}
                    <a href={{url_for('hub.index', server=server.id)}}>{{server.name}}</a>
                </div>
                <div class="panel-body page-body profile-body">
                    {% block hub_content %}
                    {% endblock %}
                </div> <!-- end profile widget -->
            </div> <!-- end page-panel -->
        </div> <!-- end col -->
    </div> <!-- end row -->
</div> <!-- end page-view -->
{% endblock %}
