.server-sidebar {
    padding: 7px 0;

    ul li {
        &:last-child {
            border-bottom: none;
        }

        a {
            color: $navigation-color;
            font-size: 14px;
            font-weight: 400;
            border-left: 2px solid transparent;

            &:hover, &:visited {
                background-color: $author-box-bg;
                border-right: 2px solid $fresh-blue;
                border-left: 2px solid $fresh-blue;
            }

            i {
                margin-right: 8px;
                font-size: 14px;
            }
        }

        &.active {
            a {
                background-color: $author-box-bg;
                border-right: 2px solid $fresh-blue;
                border-left: 2px solid $fresh-blue;
            }
        }
    }
}

.server-online {
    text-align: center;
    margin-top: 0.2em;
}

.server-content {
    background-color: #fff;
    border-left: 1px solid $border-color;
    min-height: 32.25em;

    .topic-head {
        font-weight: normal;
    }

    .topic-created {
        font-size: 0.75em;
        padding-bottom: 0.75em;
    }
}

.server-name {
    text-align: center;
    margin-top: 0.75em;
    font-size: 1.2em;
    font-weight: 600;
}

.ban-label-container {
    vertical-align: top;
}

.ban-label {
    vertical-align: top;
    padding-left: 4px;
}

.ban-label-header {
    vertical-align: top;
    width: 1%;
    white-space: nowrap;
}

.donations-label {
    background-color: #f7ae00;
    border-color: #f7ae00;
    color: #ffffff;
    border-radius: 0;
    font-weight: bold;
}

.donations-label-points {
    font-weight: bold;
    font-family: monospace;
    padding-top: 4px;
    border-radius: 0;
}

.donations-label-sum {
    vertical-align: middle;
}

.patron_tier {
    display: flex;
    align-items: flex-start;

    .description {
        display: block;
    }

    img.picture {
        display: block;
        max-width: 150px;
    }
}

.patron_tier_control
{
    .next_charge {
        border-left: 5px solid #fcba03;
        padding: 5px;
        margin: 5px 0px 5px 0px;
    }
    margin-top: 10px;
}

.btn-donate {
    font-weight: bold;
    font-family: monospace;
    background-color: transparent;
    border: 2px solid #ebad01;
}

.btn-donate:hover {
    opacity: 0.8;
}

.btn-inactive {
    font-weight: bold;
    font-family: monospace;
    background-color: transparent;
    border: 2px solid #a7a7a7;
    opacity: 0.8;
}

.btn-cancel {
    font-weight: bold;
    font-family: monospace;
    background-color: transparent;
    border: 2px solid #ff5252;
}

.btn-cancel:hover {
    opacity: 0.8;
}
