.karma-label {
    text-align: center;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.karma-counter {
    width: 50px;
    font-weight: bold;
}

.karma-good1 {
    background-color: #e7ffd6;
    border-color: #a8c197;
    color: #537d36;
}
.karma-good2 {
    background-color: #78c746;
    border-color: #51880f;
    color: #536708;
}
.karma-good3 {
    background-color: #48a219;
    border-color: #5c790c;
    color: #dcfdc3;
}
.karma-good4 {
    background-color: #397719;
    border-color: #397719;
    color: #cccc99;
}
.karma-good5 {
    background-color: #ffd700;
    border-color: #ffd700;
    color: #ff6600;
}

.karma-bad1 {
    background-color: #f9cfc6;
    border-color: #f99999;
    color: #b33939;
}
.karma-bad2 {
    background-color: #ff7c7c;
    border-color: #b9522e;
    color: #882020;
}
.karma-bad3 {
    background-color: #ff4a4a;
    border-color: #b9522e;
    color: #882020;
}
.karma-bad4 {
    background-color: #ff0600;
    border-color: #b9522e;
    color: #f3c9c9;
}
.karma-bad5 {
    background-color: #8a0d00;
    border-color: #8a0d00;
    color: #ffffff;
}

.post-rating-label {
    text-align: right;
    margin-top: 0.2em;
    margin-left: 1em;
}

.post-rating-counter {
    width: 50px;
    font-weight: bold;
    border-radius: 25px;
}

.rating-good {
    background-color: #48a219;
    border-color: #5c790c;
    color: #dcfdc3;
}

.rating-bad {
    background-color: #ff4a4a;
    border-color: #b9522e;
    color: #882020;
}
