{% extends theme("features/donations/index.html") %}

{% block donations_content %}

{% for tier in tiers %}

<div class="patron_tier">
    <img src="{{ tier.image }}" class="picture">
    <div class="description">
        <h3>{{ tier.title }}</h3>
        <div>
            {{ tier.description|markup }}
            <div class="patron_tier_control">
                {% if current_tier != tier %}
                    <form class="inline-form" method="post" {% if tier.available %} action="{{ url_for('donations.choose_tier', tier_type=tier.type) }}" {% endif %}>
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        <button {% if tier.available %} class="btn btn-donate" {% else %} class="btn btn-inactive" {% endif %}>
                            {% trans %} Выбрать за {% endtrans %}{{ tier.price_opyxes }}🔆 {% trans %} в месяц {% endtrans %}
                            {% if tier.charge_amount %}
                                {% if tier.charge_amount != tier.price_opyxes %}
                                    ({{ tier.charge_amount }}🔆 {% trans %}в этом месяце{% endtrans %})
                                {% endif %}
                            {% else %}
                                ({% trans %}начиная со следующего месяца{% endtrans %})
                            {% endif %}
                        </button>
                    </form>
                {% else %}
                    <form class="inline-form" method="post" action="{{ url_for('donations.revoke_tier') }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        <button class="btn btn-cancel">
                            {% trans %}Отменить подписку{% endtrans %}
                        </button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endfor %}

{% endblock %}
