// bootstrap colros
$blue: #337ab7;
$fresh-blue: #0088cc;
$light-blue: #5bc0de;
$green: #5cb85c;
$dark-green: #3C763D;
$orange: #f0ad4e;
$red: #d9534f;
$gray: #555;


// main colors
$background-color: #5e5b57; // old: #e8f1f2
$font-color: #333;
$border-color: #2b2f39;
$head-background: #21242c;
$meta-background: #15171b;
$hover: hsla(0, 0%, 0%, 0.3);;

$navigation-color: #fff;
$navigation-bg: #21242c;
$navigation-hover-color: #0044ff;

// header colors
$header-title-color: #fff;
$header-subtitle-color: #E8F1F2;
$header-background-primary: #504D48;  // old: #3276b1
$header-background-secondary: #302D29;

// panel colors
$panel-bg: $head-background;            // panel body background
$panel-head-bg: $head-background;    // panel head background
$panel-meta-bg: $meta-background;    // panel meta background
$panel-meta-border: $border-color;   // panel meta (bottom) border
$panel-border: $border-color;        // panel border (all over)
$panel-hover: $hover;


// post colors
$post-box-bg: $panel-bg;
$post-box-border: $border-color;
$post-meta-border: $panel-meta-bg;
$post-meta-bg: $panel-bg;
$post-signature-border: $panel-meta-bg;
$post-footer-border: $border-color;
$post-footer-bg: $panel-bg;


$author-box-bg: darken($panel-bg, 4%);
$author-online: $green;
$author-offline: $gray;
